.gap-2 {
  gap: 2rem;
}
.remove-btn {
  color: var(--red);
  background-color: var(--white);
  border: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
@media only screen and (max-width: 450px) {
  .wishlist-products {
    padding: 0;
    justify-content: center;
  }
  .wishlist-header {
    padding-left: 1rem;
  }
}
