@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
@import url(https://patched-ui.netlify.app/utility-classes.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --gray-shade1: #f5f5f6;
  --gray-shade2: #696e79;
  --gray-shade3: #495057;
  --gray-shade4: #f1f3f6;
  --gray-shade5: #ededed;
  --transaparent-grey: #c7c7c7e5;
  --dark-blue: #0751a6;
  --blue-shade1: #024ca1;
  --green-shade1: #067d62;
}
